<div class="bootstrap-wrapper">
  <form [formGroup]="receiptForm">
    <div class="row">
      <div class="col-md-12">
        <h2 class="float-left" mat-dialog-title>Новий чек</h2>
        <button mat-icon-button mat-dialog-close color="warn" class="float-right">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Торговець</mat-label>
                <input matInput placeholder="Назва" formControlName="merchant">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Дата покупки</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="purchaseDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Сума</mat-label>
                <input matInput placeholder="сума" formControlName="totalAmount">
                <mat-icon matSuffix>money</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-select formControlName="currency">
                  <mat-option>-- валюта --</mat-option>
                  <mat-option *ngFor="let currency of currencySource" value="{{currency.id}}">{{currency.genericCode}}
                  </mat-option>
                </mat-select>
                <mat-label>Валюта</mat-label>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-select formControlName="paymentMethod">
                  <mat-option>-- тип оплати --</mat-option>
                  <mat-option *ngFor="let paymentMethod of paymentMethodSource" value="{{paymentMethod.id}}">
                    {{paymentMethod.name}}
                  </mat-option>
                </mat-select>
                <mat-label>Тип оплати</mat-label>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-select formControlName="category">
                  <mat-option>-- категорія --</mat-option>
                  <mat-option *ngFor="let category of categorySource" value="{{category.id}}">{{category.name}}
                  </mat-option>
                </mat-select>
                <mat-label>Категорія</mat-label>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Коментар</mat-label>
                <input matInput placeholder="коментар" formControlName="description">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <mat-card>
            <img mat-card-image [src]="imageURL" *ngIf="imageURL">
            <mat-card-actions>
              <button mat-stroked-button color="primary" style="width:50%;" (click)="onFileUpload()">
                <mat-icon>add_photo_alternate</mat-icon>
              </button>
              <input type="file" id="fileUpload" name="fileUpload" accept="image/*" style="display:none;" />
              <button mat-stroked-button color="primary" style="width: 50%;">
                <mat-icon>photo_camera</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="onRunAutoScanning()">Сканувати <mat-icon>scanner</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="onSave()">Зберегти <mat-icon>save</mat-icon></button>
    </mat-dialog-actions>
  </form>
</div>