<div class="bootstrap-wrapper">
  <app-spinner-overlay overlay="true" *ngIf="loadingData">
  </app-spinner-overlay>
  <div class="centered">
    <div class="cards">
      <mat-card class="card" *ngFor="let receipt of observableData | async">
        <div class="image-wrapper">
          <img mat-card-image [src]="receipt.imageURL" *ngIf="receipt.imageURL">
        </div>

        <mat-card-content>
          <div class="row">
            <div class="col-6">
              <h3>{{receipt.merchant}}</h3>
            </div>
            <div class="col-6">
              <mat-chip-list>
                <mat-chip color="primary" selected>{{receipt.purchaseDate | date: 'dd-MM-yyyy'}} <mat-icon>date_range
                  </mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-chip-list>
                <mat-chip style="width: 100%;">
                  <mat-icon>category</mat-icon>{{receipt.categoryName}}
                </mat-chip>
                <mat-chip style="width: 100%;">
                  <mat-icon>credit_card</mat-icon>{{receipt.paymentMethodName}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </mat-card-content>
        
        <div class="row">
          <div class="col-6">
            <mat-chip-list>
              <mat-chip color="accent" selected>
                <mat-icon>money</mat-icon><strong>{{receipt.totalAmount}} {{receipt.currencyGenericCode}}</strong>
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="col-3">
            <button mat-stroked-button color="warn" (click)="onReceiptDelete(receipt.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
          <div class="col-3">
            <button mat-stroked-button color="primary" (click)="openDialog(receipt.id)">
              <mat-icon>crop_free</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[12, 20, 32]" *ngIf="dataSource.data"></mat-paginator>
  </div>
</div>

<!-- <div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-3" *ngFor="let receipt of receiptSource">
      <mat-card>
        <div class="image-wrapper">
          <img mat-card-image [src]="receipt.imageURL" *ngIf="receipt.imageURL">
        </div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p><strong>Продовець :</strong> {{receipt.merchant}}</p>
          <p><strong>Категорія :</strong> {{receipt.categoryName}}</p>
          <p><strong>Коментар :</strong> {{receipt.description}}</p>
          <p><strong>Дата покупки :</strong> {{receipt.purchaseDate}}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-stroked-button color="warn" (click)="onReceiptDelete(receipt.id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button mat-stroked-button color="primary" (click)="openDialog(receipt.id)">
            <mat-icon>crop_free</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->