<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="70px" expandedHeight="70px">
      <mat-panel-title>
        <mat-chip-list>
          <mat-chip color="primary" selected>
            Критерії фільтрування<mat-icon>filter_list</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="filterForm">
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Від дати</mat-label>
                <input matInput [matDatepicker]="fromDatePicker" formControlName="dateFrom">
                <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #fromDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>До дати</mat-label>
                <input matInput [matDatepicker]="toDatePicker" formControlName="dateTo">
                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Категорія</mat-label>
                <mat-select formControlName="category"> 
                  <mat-option>-- категорія --</mat-option>
                  <mat-option *ngFor="let category of categorySource" [value]="category.id">{{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Сума від</mat-label>
                <input matInput formControlName="totalFrom">
                <mat-icon matSuffix>money</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Сума до</mat-label>
                <input matInput formControlName="totalTo">
                <mat-icon matSuffix>money</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <button mat-flat-button color="accent" (click)="onSubmit()">Фільтрувати</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>